.page-4 {
  height: 60.5405405vw;
  position: relative;
  &-03 {
    position: absolute;
    top: 7.7837838vw;
    left: 17.027027vw;
    width: 12.3243243vw;
    border-right: #10D048 3px solid;
  }
  &-title {
    font-size: 44px;
    line-height: 52px;
    text-transform: uppercase;
    position: absolute;
    top: 7.5837838vw;
    left: 31vw;
  }
  &-subtitle {
    text-align: left;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    position: absolute;
    top: 11.2vw;
    left: 31vw;
    width: 28.3783784vw;
  }

  &-imgs {
    padding-top: 24.3783784vw;
    width: 100vw;
    text-align: center;
    img {
        width: 10vw;
        top: 10vw;
        position: absolute;
        left: 4vw;
    }

    div {
      display: inline-block;
      position: relative;
      width: 18vw;
      background: #E8FFEF;
      border-radius: 5px;
      height: 550px;
      margin-right: 15px;
      margin-left: 15px;
    }

    &-label {
      position: absolute;
      top: 1.2972973vw;
      left: 1.7297297vw;
      font-size: 14px;
      line-height: 24px;
      color: #3A3A3A;
    }

    &-title {
      position: absolute;
      top: 4.2972973vw;
      left: 1.7297297vw;
      font-size: 28px;
      line-height: 24px;
      color: #3A3A3A;
      font-weight: 800;
    }

    &-subtitle {
      text-align: left;
      max-width: 15vw;
      position: absolute;
      top: 7.2972973vw;
      left: 1.7297297vw;
      font-size: 14px;
      line-height: 20px;
      color: #3A3A3A;
    }
  }
}